.modal-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
}

.content-title-custom {
    font-size: 21px;
    font-weight: 600;
    color: #666666;
    margin-bottom: -15px;
}

.content-values-custom {
    font-size: 21px;
    font-weight: 400;
    color: #666666;
}

.customModal {
    max-width: 600px;
    width: 100%;
}

.actions {
    display: flex;
    justify-content: end;
    border-top: 2px solid #0D2568;
}

.button-action-modal {
    margin-top: 10px;
    background-color: #0D2568;
    color: white;
    padding: 5px 12px;
    border-radius: 3px;
}